.people-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 12vh 3vw 0;
}

.people-row a {
    display: block;
}


.mann{
width:20vw;
transition: all 0.2s ease;
}
.mann:hover {
  transform: translateY(-30px);
}

.frau{  
    width:20vw;
    transition: all 0.2s ease;
     transform: translateY(25px);
}

.frau:hover {
    transform: translateY(-20px);
}
.opa{
    width: 23vw;
    transition: all 0.2s ease;
    
}

.opa:hover{
    transform: translateY(-50px);
}

.opa2{
    width: 6vw;
    transition: all 0.2s ease;
    top: 18vh;
    left: 20vw;
    
}

.opa2:hover{
    transform: translateY(-130px);
}



#kopf{

color:rgb(132, 81, 10);
font-size: 4vw;
text-align:center;
font-family: myfont;
line-height: 1;
margin-top: 5vw;
    
}



body{
    
    background-color: rgb(255, 248, 240);
}


@font-face{
    font-family: myfont;
    src: url(./fonts/Quicksand-VariableFont_wght.ttf)
}


#bottom{
    color:rgb(132, 81, 10);
font-size: 2vw;
text-align:center;
font-family: myfont;
line-height: 1;
}