 .back-link {
    position: fixed;
    top: 30px;
    left: 35px;
    z-index: 10;

    color:rgb(132, 81, 10);
    font-size: 2vw;
    font-family: myfont;
}

.back-link:hover {
    text-decoration: underline;
}



body{
    margin:0;
    background:rgb(255,248,240);
}

.project{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:80px;
    padding:80px;
}

.model-area{
    width:800px;
    height:800px;
}

model-viewer{
    width:100%;
    height:100%;
    display:block;
    background:transparent;
    --poster-color: transparent;
}

.project-text{
    width:40vw;
    font-family: myfont;
    color:rgb(132, 81, 10);
}

.project-text h1{
    font-size: 3vw;
}

.project-text p{
    font-size: 1vw;
}
@font-face{
    font-family: myfont;
    src: url(./fonts/Quicksand-VariableFont_wght.ttf)
}

model-viewer {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.ar-button {
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);

    padding: 12px 24px;
    border: none;
    border-radius: 25px;

    background-color: rgb(132, 81, 10);
    color: rgb(255, 248, 240);

    font-family: myfont, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.ar-button:hover {
    opacity: 0.8;
}

.qr-section{
    margin-top:30px;
    text-align:center;
}

.qr-section p{
    color:rgb(132,81,10);
    font-size:18px;
    margin-bottom:12px;
}

.qr-code{
    width:120px;
    height:120px;
    border-radius:10px;
}